<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="org.nh3000.nh3000>
    
    
    <uses-permission   android:name="android.permission.INTERNET" />
    
   
    <application android:label="SNATS" android:debuggable="true" >
        
        <activity  android:name="org.golang.app.GoNativeActivity"  android:label="NH3000"  android:configChanges="orientation|keyboardHidden"> 
		    <meta-data android:name="android.app.lib_name" android:value="org.nh3000.nh3000" />  
  
            <intent-filter>  
                <action android:name="android.intent.action.MAIN" />  
  
                <category android:name="android.intent.category.LAUNCHER" />  
            </intent-filter>  
        </activity>  
    </application> 
 
</manifest>
